<div class="row tex-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-danger text-center">Aradığınız kayıta ulaşılamıyor.</h1>
        <hr />  
        <a class="btn btn-outline-success" asp-controller="movies" asp-action="index"> Ana sayfa</a>

    </div>
  

</div>