<div class="row">
    <div class="col-md-6 offset-3 alert-success">
        <h2>Başarıyla kaydoldunuz.</h2>
        <p>Giriş yapabilirsiz..</p>
        <br />
        <p>Teşkkürler</p>

    </div>
</div>