<div class="row">
    <div class="col-md-6 offset-3 alert-success">
        <h2>Siparişiniz Alınmıştır.</h2>
        <p>Siparişinizi siparişlerim sayfasından takip edebilirsiniz.</p>
        <br />
        <p>Teşkkürler,Yine bekleriz.</p>

    </div>
</div>
